{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='editing_fertiliser_style.css') }}">
</head>

<body>
  <div class="wrapper">
    <h2>Editing Fertiliser Information</h2>
    <form method="POST" action='{{url_for("edit_user",rfid_code=datas.rfid_code)}}'>
      <div class="input-box">
        <input type="text" id="Name of Manufacturer" name="Name of Manufacturer" placeholder="Name of Manufacturer"
          value='{{datas.manufacturer_name}}' required>
      </div>
      <div class="input-box">
        <input type="text" id="Manufacturer Location Name" name="Manufacturer Location Name"
          placeholder="Manufacturer' s Location Name" value='{{datas.start_location}}' required>
      </div>
      <div class="input-box">
        <input type="text" id="Destination Location Name" name="Destination Location Name"
          placeholder="Destination Location Name" value='{{datas.destination_location}}' required>
      </div>
      <div class="input-box">
        <input type="text" id="Unique Identifier Tag Code" name="Unique Identifier Tag Code"
          placeholder="Unique Identifier Tag Code" value='{{datas.rfid_code}}' readonly required>
      </div>
      <div class="input-box">
        <input type="password" id="Unique Government Voucher Code" name="Unique Government Voucher Code"
          placeholder="Unique Government Voucher Code" value='{{datas.voucher_code}}' required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="SAVE FERTILISER INFORMATION">
      </div>
    </form>
  </div>
  <button class='text-right'><a href='{{url_for("index")}}' class='btn btn-warning '>Return to Homepage</a></button>
</body>

</html>
{% endblock %}